Sources/Client/IRAP.WCF.Client/Service References/IRAPWCFClient/IRAP1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16910/IRAP?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IRAP.Interface.Global" />
  <xs:import schemaLocation="http://localhost:16910/IRAP?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ExChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assemblyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="className" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="methodName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IRAP.Interface.Global" minOccurs="0" name="jsonTable" nillable="true" type="q1:ArrayOfIRAPJsonTable" />
        <xs:element minOccurs="0" name="jsonContent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExChangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExChangeResult" type="xs:int" />
        <xs:element minOccurs="0" name="jsonContent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="backTypeFullName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBinary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assemblyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="className" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="methodName" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paramDict" nillable="true" type="q2:ArrayOfKeyValueOfanyTypeanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBinaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBinaryResult" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="errCode" type="xs:int" />
        <xs:element minOccurs="0" name="errText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadBinary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assemblyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="className" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="methodName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="binaryBytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadBinaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadBinaryResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errCode" type="xs:int" />
        <xs:element minOccurs="0" name="errText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFRESTful">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assemblyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="className" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="methodName" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IRAP.Interface.Global" minOccurs="0" name="jsonTable" nillable="true" type="q3:ArrayOfIRAPJsonTable" />
        <xs:element minOccurs="0" name="jsonContent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFRESTfulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFRESTfulResult" type="xs:int" />
        <xs:element minOccurs="0" name="jsonContent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="backTypeFullName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>