Sources/Client/IRAP.WCF.Client/Service References/IRAPWCFClient/ServiceIRAPGeneral.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceIRAPGeneral" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceIRAPGlobal_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16910/IRAP?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16910/IRAP?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:16910/IRAP?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IRAP.Interface.Global" />
      <xsd:import schemaLocation="http://localhost:16910/IRAP?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceIRAPGlobal_ExChange_InputMessage">
    <wsdl:part name="parameters" element="tns:ExChange" />
  </wsdl:message>
  <wsdl:message name="IServiceIRAPGlobal_ExChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIRAPGlobal_GetBinary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBinary" />
  </wsdl:message>
  <wsdl:message name="IServiceIRAPGlobal_GetBinary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBinaryResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIRAPGlobal_UploadBinary_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadBinary" />
  </wsdl:message>
  <wsdl:message name="IServiceIRAPGlobal_UploadBinary_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadBinaryResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIRAPGlobal_WCFRESTful_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFRESTful" />
  </wsdl:message>
  <wsdl:message name="IServiceIRAPGlobal_WCFRESTful_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFRESTfulResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceIRAPGlobal">
    <wsdl:operation name="ExChange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIRAPGlobal/ExChange" message="tns:IServiceIRAPGlobal_ExChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIRAPGlobal/ExChangeResponse" message="tns:IServiceIRAPGlobal_ExChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBinary">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIRAPGlobal/GetBinary" message="tns:IServiceIRAPGlobal_GetBinary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIRAPGlobal/GetBinaryResponse" message="tns:IServiceIRAPGlobal_GetBinary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadBinary">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIRAPGlobal/UploadBinary" message="tns:IServiceIRAPGlobal_UploadBinary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIRAPGlobal/UploadBinaryResponse" message="tns:IServiceIRAPGlobal_UploadBinary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFRESTful">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIRAPGlobal/WCFRESTful" message="tns:IServiceIRAPGlobal_WCFRESTful_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIRAPGlobal/WCFRESTfulResponse" message="tns:IServiceIRAPGlobal_WCFRESTful_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiceIRAPGlobal" type="tns:IServiceIRAPGlobal">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceIRAPGlobal_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ExChange">
      <soap12:operation soapAction="http://tempuri.org/IServiceIRAPGlobal/ExChange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBinary">
      <soap12:operation soapAction="http://tempuri.org/IServiceIRAPGlobal/GetBinary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadBinary">
      <soap12:operation soapAction="http://tempuri.org/IServiceIRAPGlobal/UploadBinary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFRESTful">
      <soap12:operation soapAction="http://tempuri.org/IServiceIRAPGlobal/WCFRESTful" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceIRAPGeneral">
    <wsdl:port name="NetTcpBinding_IServiceIRAPGlobal" binding="tns:NetTcpBinding_IServiceIRAPGlobal">
      <soap12:address location="net.tcp://localhost:16010/IRAP" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:16010/IRAP</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>